# IntelliJ / Eclipse / VSCode project files
.idea/
*.iml
.settings/
.project
.classpath
org.eclipse.*
settings.json

# OS or Editor folders/files
.DS_Store
._*
.cache
thumbs.db
*.swo
*.swp
*.vi
*~
*.tmp.html

# Logs, patches, etc
*.log
*.bak
*.patch
*.diff
*.err
*.orig
*.rej

# Node / Bower / Yarn
node_modules/
bower_components/
# npm-debug.log is also matched by *.log above

# Spring/Java build output
target/

# Webpack or other front-end build outputs
dist/
built/
webpack-assets.json

# Redis dump
dump.rdb

# If you have a directory literally named 'node', keep this. Otherwise remove it.
node

# Potentially ignore if these are always generated or do not need to be versioned
src/main/webapp/WEB-INF/ftl/rsrc/
src/main/webapp/rsrc/dist/
/com/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Decide whether to ignore package-lock.json
#   - Usually recommended to keep in source control
# package-lock.json
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~